:root {
  --primary-text-color: black;
  --title-text-color: black;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primery-grey-color: #757575;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}

::after,
::before {
  box-sizing: inherit;
}

body {
  background-color: var(--primary-white-color);
  font-family: Roboto, sans-serif;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.flexbox {
  display: flex;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Шапка */

.header .flexbox {
  align-items: center;
  height: 80px;
}

.header {
  position: sticky;
  height: 80px;
  right: 0;
  left: 0;
  top: 0;
  background-color: var(--primary-white-color);
  z-index: 1;
  border-bottom: 1px solid #ececec;
}

.contact a:first-child {
  margin-bottom: 8px;
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

/* Лого */

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration-line: none;
  margin-right: 93px;
  display: flex;
}

.header__logo {
  color: var(--title-text-color);
}

.footer__logo {
  color: #ffffff;
}

.button {
  background-color: var(--accent-color);
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-align: center;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
}

/* Линки */

a {
  text-decoration-line: none;
  color: grey;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

a:focus,
a:hover {
  color: var(--accent-color);
}

li {
  list-style-type: none;
}

.mail:hover {
  color: var(--accent-color);
}

.header__contacts {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.navigation__list-item:not(:last-child) {
  margin-right: 50px;
}

.navigation__list-item {
  color: var(--primary-text-color);
}

.navigation {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.studio {
  color: var(--accent-color);
}

.studio:hover {
  color: var(--accent-color);
}

.studio-link {
  color: black;
}

.studio-link:hover {
  color: var(--accent-color);
}

.navigation__link {
  position: relative;
  color: var(--primary-text-color);
}

.current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -32px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.current {
  color: var(--accent-color);
}

.contacts__item {
  display: flex;
  justify-content: center;
  align-content: center;
  color: var(--primery-grey-color);
}

.contacts__link {
  display: flex;
  align-items: center;
}

.contacts__icon {
  margin-right: 10px;
  fill: var(--primery-grey-color);
}

.contacts__item:hover {
  color: var(--accent-color);
}
.contacts__item:hover svg {
  fill: var(--accent-color);
}

.header__contacts {
  display: flex;
  align-items: center;
}

/* Заголовки */

.hero {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../pictures/hero_img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);

  margin-bottom: 30px;
}

.second-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.third-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.footer__title {
  color: var(--primary-white-color);
  margin-bottom: 20px;
  text-transform: uppercase;
}

.advantages__text {
  color: var(--primery-grey-color);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  margin: 0;
}

.activity {
  padding-top: 94px;
  padding-bottom: 94px;
}

.activity__list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.activity__item {
  z-index: -1;
}

.activity__thumb {
  position: relative;
}

.activity__label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0;
  right: 0;
  margin: 0;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: var(--primary-white-color);
}

/* Преимущества */

.advantages {
  padding-top: 94px;
}

.advantages__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.advantages__list {
  display: flex;
  justify-content: space-around;
}

.advantages__item:not(:last-child) {
  margin-right: 30px;
}

.advantages__item::before {
  display: block;
  content: "";
  height: 120px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;

  margin-bottom: 30px;
}

.advantages__item:nth-child(1)::before {
  background-image: url(../pictures/antenna.svg);
}

.advantages__item:nth-child(2)::before {
  background-image: url(../pictures/clock.svg);
}

.advantages__item:nth-child(3)::before {
  background-image: url(../pictures/diagram.svg);
}

.advantages__item:nth-child(4)::before {
  background-image: url(../pictures/astronaut.svg);
}

/* Команда */

.team {
  background-color: #f5f4fa;
  width: auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__field {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.team__member {
  text-align: center;
  background-color: #ffffff;
  height: 428px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__member:not(:last-child) {
  margin-right: 30px;
}

.member__information {
  padding-top: 30px;
}

.member__name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.member__proffesion {
  margin-bottom: 16px;
  color: #757575;
}

.social__list {
  display: flex;
  justify-content: center;
}

.social__icon {
  height: 20px;
  width: 20px;
  fill: #afb1b8;
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  height: 44px;
  width: 44px;
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__item--link {
  display: flex;
}

.social__item:hover {
  color: var(--accent-color);
}
.social__item:hover svg {
  color: var(--accent-color);
  fill: var(--primary-white-color);
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__list {
  display: flex;
  margin-top: 50px;
}

.clients__item {
  display: flex;
  height: 90px;
  width: 170px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--primery-grey-color);
  border-radius: 4px;

  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.clients__item svg {
  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.clients__logo {
  fill: var(--primery-grey-color);
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__item:hover {
  border: 1px solid var(--accent-color);
}
.clients__item:hover svg {
  fill: var(--accent-color);
}

/* Контакты */

address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-top: 20px;
}

/* Кнопки */

.portfolio-button {
  color: black;
  background: #f5f4fa;
  padding: 6px 22px;
  width: auto;
  height: auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.button:focus,
.button:hover {
  color: white;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.hero__button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.portfolio {
  color: var(--accent-color);
}

.footer-address .logo {
  margin-bottom: 20px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

/* Работы */

.works {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2.5;
  letter-spacing: 0.06em;
  margin: 0;
}
.logo-second-part {
  color: #ffffff;
}

/* Портфолио */

ul {
  list-style: none;
  padding-inline-start: 0;
}

.buttons-field {
  padding-top: 94px;
  padding-bottom: 50px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.buttons__item:not(:last-child) {
  margin-right: 8px;
}

.work-section {
  padding-bottom: 78px;
}

.work {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
}

.work-item {
  width: calc((100% - 60px) / 3);
  margin-bottom: 30px;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #eeeeee;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.work-item-hover-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  margin: 63px 24px;
}

.work-item-image {
  position: relative;
  overflow: hidden;
}

.work-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: transform 250ms ease;
}

.work-item:hover .work-overlay {
  transform: translatey(0);
}

.work-thumb::before {
  content: "";
  display: inline-block;
  position: absolute;
  height: 300px;
  width: 378px;
  background-color: rgba(33, 150, 243, 0.9);
}

.work-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work .work-item img {
  width: 100%;
  height: auto;
}

.work-item:nth-child(3n) {
  margin-right: 0;
}

.work-item-description {
  margin: 20px 24px;
}

/* Футер */

.contact__links {
  display: flex;
  flex-direction: column;
}

.contact__links--item {
  margin-top: 9px;
}

.footer__part {
  display: block;
}

.footer-part .third-title {
  color: var(--primary-white-color);
}

.footer__part--joining {
  margin-top: 12px;
}

.footer__part:not(:last-child) {
  margin-right: 70px;
}

.footer__part .social__icon {
  fill: var(--primary-white-color);
}

.social__item:hover {
  background-color: var(--accent-color);
}

.person-information .social__icon:hover {
  fill: var(--primary-white-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms var(--timing-function);
  z-index: 30;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: 750ms var(--timing-function);
  width: 528px;
  height: 581px;
  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__content {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.modal__title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.form {
  margin: 40px;
  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.form__checkbox {
  display: inline-block;
}

.modal__form--input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 10px;
  padding-left: 42px;
  outline: none;
}

.modal__form--input:focus {
  border: 1px solid var(--accent-color);
  border-width: 1px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  outline: none;
}

.modal__form--input:focus + svg {
  fill: var(--accent-color);
  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.modal__form--textarea {
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  margin-bottom: 20px;
  padding: 12px 16px;
}

.modal__form--textarea::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__form--field {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form__checkbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;
}

.modal__link {
  color: var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  display: inline-block;
  line-height: 0.85;
}

.modal__form--label {
  margin-bottom: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__form--icon {
  position: absolute;
  top: 29px;
  left: 14px;
  height: 18px;
  width: 18px;
}

.checkbox__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.checkbox {
  position: absolute;
  background-image: url(../images/Vector.svg);
  width: 16px;
  height: 15px;
  left: 10px;
  top: 5px;
}

.checkbox__input:checked + .checkbox {
  background-image: url(../images/icon\ check.svg);
  fill: var(--primary-white-color);
  background-color: var(--accent-color);

  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.modal__form--textarea:focus {
  border: 1px solid var(--accent-color);
  border-width: 1px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  outline: none;
}

.checkbox__label {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--primery-grey-color);
  margin-right: -25px;
}

.modal__submit--button {
  margin-left: 124px;
}

.modal__submit--button:focus,
.modal__submit--button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.1);
}

.modal__close-button {
  position: absolute;
  font-size: 15px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  top: 8px;
  right: 8px;
  outline: transparent;
}

.modal__close-button:hover,
.modal__close-button:focus {
  color: var(--accent-color);
}
/*  Форма-футер  */

.form-input {
  height: 48px;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 0 20px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
}

.footer-part.joining.sighninig {
  display: flex;
}

.sign__in--button {
  display: flex;
  align-items: center;
  padding-left: 29px;
}

.button__icon {
  height: 24px;
  width: 24px;
  padding-left: 10px;
  fill: var(--primary-white-color);
}

.signing__form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

.signing__form--window {
  padding-right: 12px;
}
